.bg_navbar{
    background-image: linear-gradient(#989898, #8d8d8d );
    padding-left: 50px;
    padding-right: 50px;
    display: flex; 
    font-family: 'Crimson Text', serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
}
.container-fluid{
    color:#fff;
}
.nav-link{
    color:#fff;
}
.navbar-brand{
    color:#fff;
}
a{
    color:#fff;
}
.text_header{
    width: 80%;
    padding: 100px 60px 10px 60px;
    height: 450px;
    color: #fff;
    opacity: 100%;
}
.section_text{
    background-image: url("https://cdn.pixabay.com/photo/2016/04/30/13/12/sutterlin-1362879_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card_hover{
 transform: scale(25px);

}
.img_header{
    height: 90vh;
    
    background-image:url("https://cdn.pixabay.com/photo/2020/12/18/18/56/sculpture-5842676_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.img_header::before{
    position: absolute;
    content: "";
    top: 0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(25, 25, 25, 0.762);
}
.text_header{
    position: relative;
    color:#fff;
}

.Lincito{
    opacity: 9%;
}
.section_text{
    height: 90vh;
    padding: 50px 60px 10px 60px;
}
.row{
    background-color: rgb(67, 11, 11);
    height: 50px;
    padding: 30px;
}

.col{
    height: 50px;
    background-color: #2E4F4F;
} 
.col-4:hover{
 
background: rgba(123, 123, 123, 0.547);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(254, 0, 0, 0.488);
backdrop-filter: blur(1.8px);
-webkit-backdrop-filter: blur(1.8px);
border: 1px solid rgba(163, 107, 107, 0.829);
    transform: scale(0.9,0.9);
}
.card-text{
    color: #000;
}
.nav-item:hover{
    background-color: #4e4d4d;
    transform: scale(0.9,0.9);
}
audio{
    justify-self: end;
    margin:auto auto;
}
audio:hover{
    
    color:rgba(169, 59, 59, 0.7);
    
}
h1{
    font-family: 'Crimson Text', serif;
    color:#fff;
}
h2{
    font-family: 'Crimson Text', serif;
    color:#fff;
}
p{
    font-family: 'Saira Condensed', sans-serif;
    color:#fff;
}
.MenuFin{
   align-content: space-between;
    
}
.textico{
    font-family: 'Crimson Text', serif;
    text-align: center;
    text-decoration: overline;
    background:linear-gradient(#1497be, #1c2aec);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
font-size: larger;

}
audio{
    align-items: center;
}
h6{
    text-align: center;
}
/* MEDIA QUEARY */
@keyframes text {
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
    
    
    }
@media all and (max-width: 450px){
    .text_header{
        width: 90%;
        padding: 90px 20px 0 40px;
        height: 450px;
        
    }
    h1{
       
        font-size: 42px;}
}